.cascadia-mono-uniquifier {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    overflow: hidden;
    padding: 0px;

    background-image: url(/Images/PS30TH_16x9_WALLPAPER.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#lobby {
    visibility: visible;
}

#quizButton {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;

    background-color: rgb(4, 0, 53);
    color: white;

    position: absolute;
    top: 50%;
    right: 48%;


}
#quizButton:hover {
    cursor: pointer;
}
#quizButton:active {
    background-color: rgb(3, 0, 32);
}

#genreScreen {
    visibility: hidden;
}

#quizGame {
    visibility: hidden;
}

#questionArea {
    height: 300px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
}

